body {
    font-family: "Lato", Helvetica, sans-serif !important;
}

h1:before {
    position: absolute;
    z-index: 1;
    bottom: -9px;
    left: 0;
    width: 10%;
    height: 2px;
    margin: auto;
    background: #e96656;
    content: "";
}

h1:after {
    position: absolute;
    z-index: 1;
    bottom: -9px;
    left: 0;
    width: 10%;
    height: 2px;
    margin: auto;
    background: #e96656;
    content: "";
}

h1 {
    margin-top: 0;
    padding-top: 0;
    font-size: 20px;
    position: relative;
}

h1,
h2 {
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
}

.footer img {
    margin: 0px 5px 20px 5px;
    padding: 10px 0;
}

.footer a {
    color: #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #fff;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}